<fz-popover [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" (nzVisibleChange)="change()" [nzTitle]="'Title'"
            style="display: inline-block">
    <div class="item">
        <i class="anticon anticon-appstore-o"></i>
    </div>
    <ng-template #nzTemplate>
        <div nz-menu class="wd-xl animated jello" style="width: 300px">
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle app-icons">
                <div nz-col class="ant-col-6" routerLink="/showcase/affix">
                    <i class="anticon anticon-calendar bg-error text-white"></i>
                    <small>示例</small>
                </div>
                <div nz-col class="ant-col-6" routerLink="/pages/forms">
                    <i class="anticon anticon-file bg-teal text-white"></i>
                    <small>页面</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-cloud bg-success text-white"></i>
                    <small>Cloud</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-star-o bg-pink text-white"></i>
                    <small>Star</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-team bg-purple text-white"></i>
                    <small>Team</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-scan bg-warning text-white"></i>
                    <small>QR</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-pay-circle-o bg-cyan text-white"></i>
                    <small>Pay</small>
                </div>
                <div nz-col class="ant-col-6">
                    <i class="anticon anticon-printer bg-grey text-white"></i>
                    <small>Print</small>
                </div>
            </div>
        </div>
    </ng-template>
</fz-popover>

<fz-dropdown nzTrigger="click" nzPlacement="bottomRight" (nzVisibleChange)="change()">
    <div class="item" fzDropdown>
        <i class="anticon anticon-appstore-o"></i>
    </div>
    <div nz-menu class="wd-xl animated jello">
        <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle app-icons">
            <div nz-col class="ant-col-6" routerLink="/showcase/affix">
                <i class="anticon anticon-calendar bg-error text-white"></i>
                <small>示例</small>
            </div>
            <div nz-col class="ant-col-6" routerLink="/pages/forms">
                <i class="anticon anticon-file bg-teal text-white"></i>
                <small>页面</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-cloud bg-success text-white"></i>
                <small>Cloud</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-star-o bg-pink text-white"></i>
                <small>Star</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-team bg-purple text-white"></i>
                <small>Team</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-scan bg-warning text-white"></i>
                <small>QR</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-pay-circle-o bg-cyan text-white"></i>
                <small>Pay</small>
            </div>
            <div nz-col class="ant-col-6">
                <i class="anticon anticon-printer bg-grey text-white"></i>
                <small>Print</small>
            </div>
        </div>
    </div>
</fz-dropdown>
