<p>
    fz-demo-avatar works!
</p>

<div>
    <fz-avatar size="large" icon="verified_user"></fz-avatar>
    <fz-avatar icon="book"></fz-avatar>
    <fz-avatar size="small" icon="book"></fz-avatar>
    <fz-avatar [text]="'U'" size="large"></fz-avatar>
</div>
<div>
    <fz-avatar [shape]="'square'" [size]="'large'" [icon]="'verified_user'"></fz-avatar>
    <fz-avatar [shape]="'square'" [icon]="'book'"></fz-avatar>
    <fz-avatar [shape]="'square'" [size]="'small'" [icon]="'book'"></fz-avatar>
</div>
<div>
    <fz-avatar [text]="'U'" size="large" [ngStyle]="{'background-color':'#f56a00'}"></fz-avatar>
    <fz-avatar [text]="'Lucy'" size="large" [ngStyle]="{'background-color':'#7265e6'}"></fz-avatar>
    <fz-avatar [text]="'Tom'" size="large" [ngStyle]="{'background-color':'#ffbf00'}"></fz-avatar>
    <fz-avatar [text]="'Edward'" size="large" [ngStyle]="{'background-color':'#00a2ae'}"></fz-avatar>
</div>


