<p>
    fz-demo-highlight works!
</p>

<fz-highlight [fzCode]="_code" [fzLanguage]="'javascript'"></fz-highlight>
<fz-highlight [fzCode]="_code" [fzLanguage]="'typescript'"></fz-highlight>

<pre>
    <code class="language-typescript" fzHighlight>
        import &#123;AccordionModule&#125; from 'primeng/accordion';
    </code>
</pre>

<pre>
    <code class="language-markup" fzHighlight>
            &lt;p-accordion&gt;
            &lt;p-accordionTab header="Header 1" [selected]="true"&gt;
            Content 1
            &lt;/p-accordionTab&gt;
            &lt;p-accordionTab header="Header 2"&gt;
            Content 2
            &lt;/p-accordionTab&gt;
            &lt;p-accordionTab header="Header 3"&gt;
            Content 3
            &lt;/p-accordionTab&gt;
            &lt;/p-accordion&gt;
    </code>
</pre>

<pre>
    <code class="language-typescript" fzHighlight>
        {{_code1}}
    </code>
</pre>
