<p>
    fz-demo-timeline works!
</p>

<fz-timeline>
    <fz-timeline-item>Create a services site 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Solve initial network problems 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Technical testing 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Network problems being solved 2015-09-01</fz-timeline-item>
</fz-timeline>


<fz-timeline>
    <fz-timeline-item [color]="'green'">Create a services site 2015-09-01</fz-timeline-item>
    <fz-timeline-item [color]="'green'">Solve initial network problems 2015-09-01</fz-timeline-item>
    <fz-timeline-item [color]="'red'">Technical testing 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Network problems being solved 2015-09-01</fz-timeline-item>
</fz-timeline>


<fz-timeline>
    <fz-timeline-item>Create a services site 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Solve initial network problems 2015-09-01</fz-timeline-item>
    <fz-timeline-item [color]="'red'">
        <ng-template #custom>
            <i class="anticon anticon-clock-circle-o" style="font-size: 16px;"></i>
        </ng-template>
        Technical testing 2015-09-01
    </fz-timeline-item>
    <fz-timeline-item>Network problems being solved 2015-09-01</fz-timeline-item>
</fz-timeline>


<fz-timeline>
    <fz-timeline-item>Create a services site 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Solve initial network problems 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Technical testing 2015-09-01</fz-timeline-item>
    <fz-timeline-item>Network problems being solved 2015-09-01</fz-timeline-item>
    <fz-timeline-pending><a>See more</a></fz-timeline-pending>
</fz-timeline>
