:host ::ng-deep .fz-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

h3 {
    color: #fff;
}

:host ::ng-deep .ant-badge {
    margin-right: 16px;
}

.head-example {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    background: #eee;
    display: inline-block;
}

.change-options {
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
}
