<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">

    <mat-sidenav #sidenav mode="over" opened="false" align="start">
        <fz-sidebar (navClick)="sidenav.toggle()"></fz-sidebar>
    </mat-sidenav>
    <div class="site">
        <header>
            <fz-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></fz-header>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <fz-footer></fz-footer>
        </footer>
    </div>
</mat-sidenav-container>

