.mat-drawer::-webkit-scrollbar {
    //height: 4px;
    //width: 4px;
    height: 0;
    width: 0;
}

.mat-drawer::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 0 transparent;
}

.mat-drawer::-webkit-scrollbar-thumb {
    //background-color: #6e6e6e;
    //outline: 1px solid #333;
    background-color: transparent;
}


