<div class="site">
    <header>
        <fz-header (toggle)="toggleSidebar()" (toggleDarkTheme)="switchTheme($event)"></fz-header>
    </header>

    <main>
        <div #sidebarContainerElement style="min-width: 300px" [style.display]="_sidebarOpen? 'block':'none'">
            <fz-sidebar></fz-sidebar>
        </div>
        <div [ngStyle]="containerStyle">
            <fz-reuse-tab></fz-reuse-tab>
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <fz-footer></fz-footer>
    </footer>

</div>


