<!--strong>{{ 'theme-switch' | translate}}</strong-->
<strong>'切换主题'</strong>
<div class="theme-icons">
    <label *ngFor="let item of themes" (click)="changeTheme(item.l)" [style.background]="item.bg">
        <!--i class="anticon anticon-check" *ngIf="item.l == settings.layout.theme"></i-->
        <i class="anticon anticon-check"></i>
        <div class="areas">
            <span class="nav" [style.background]="item.nav"></span>
            <span class="con" [style.background]="item.con"></span>
        </div>
    </label>
</div>
