<fz-popover nzTrigger="click" nzPlacement="bottomRight" (nzVisibleChange)="change()" style="display: inline-block">
    <div class="item">
        <fz-badge [showDot]="true">
            <i class="anticon anticon-bell"></i>
        </fz-badge>
    </div>
    <ng-template #nzTemplate>
        <!--todo: [nz-menu] 属性补充，需要改造-->
        <div nz-menu class="wd-lg">
            <!--nz-card nzTitle="Notifications" [nzLoading]="loading" class="ant-card__body-nopadding"-->
            <mat-card>
                <!--mat-card-header>
                    <mat-card-title-->
                <div class="ant-card-head ng-star-inserted">
                    <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title ng-star-inserted">
                            Notifications
                        </div>
                        <div class="ant-card-extra ng-star-inserted">
                            <i class="anticon anticon-plus ng-star-inserted"></i>
                        </div>
                    </div>
                </div>
                <!--/mat-card-title>
            </mat-card-header-->

                <!--div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="py-sm bg-grey-lighter-h point"-->
                <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                    <div nz-col class="ant-col-4 text-center">
                        <fz-avatar [src]="'./assets/img/covers/1.jpg'" [size]="'large'"></fz-avatar>
                    </div>
                    <div nz-col class="ant-col-20">
                        <strong>cipchk</strong>
                        <p>Please tell me what happened in a few words, don't go into details.</p>
                    </div>
                </div>
                <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                    <div nz-col class="ant-col-4 text-center">
                        <fz-avatar [src]="'./assets/img/covers/2.jpg'" [size]="'large'"></fz-avatar>
                    </div>
                    <div nz-col class="ant-col-20">
                        <strong>はなさき</strong>
                        <p>ハルカソラトキヘダツヒカリ </p>
                    </div>
                </div>
                <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                    <div nz-col class="ant-col-4 text-center">
                        <fz-avatar [src]="'./assets/img/covers/3.jpg'" [size]="'large'"></fz-avatar>
                    </div>
                    <div nz-col class="ant-col-20">
                        <strong>苏先生</strong>
                        <p>请告诉我，我应该说点什么好？</p>
                    </div>
                </div>
                <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                    <div nz-col class="ant-col-4 text-center">
                        <fz-avatar [src]="'./assets/img/covers/4.jpg'" [size]="'large'"></fz-avatar>
                    </div>
                    <div nz-col class="ant-col-20">
                        <strong>Kent</strong>
                        <p>Please tell me what happened in a few words, don't go into details.</p>
                    </div>
                </div>
                <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                    <div nz-col class="ant-col-4 text-center">
                        <fz-avatar [src]="'./assets/img/covers/5.jpg'" [size]="'large'"></fz-avatar>
                    </div>
                    <div nz-col class="ant-col-20">
                        <strong>Jefferson</strong>
                        <p>Please tell me what happened in a few words, don't go into details.</p>
                    </div>
                </div>
                <div nz-row class="ant-row pt-lg pb-lg">
                    <div nz-col class="text-center text-grey point">
                        See All
                    </div>
                </div>
            </mat-card>
        </div>
    </ng-template>
</fz-popover>


<fz-dropdown nzTrigger="click" nzPlacement="bottomRight" (nzVisibleChange)="change()">
    <div class="item" fzDropdown>
        <fz-badge [showDot]="true">
            <i class="anticon anticon-bell"></i>
        </fz-badge>
    </div>
    <!--todo: [nz-menu] 属性补充，需要改造-->
    <div nz-menu class="wd-lg">
        <!--nz-card nzTitle="Notifications" [nzLoading]="loading" class="ant-card__body-nopadding"-->
        <mat-card>
            <!--mat-card-header>
                <mat-card-title-->
            <div class="ant-card-head ng-star-inserted">
                <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title ng-star-inserted">
                        Notifications
                    </div>
                    <div class="ant-card-extra ng-star-inserted">
                        <i class="anticon anticon-plus ng-star-inserted"></i>
                    </div>
                </div>
            </div>
            <!--/mat-card-title>
        </mat-card-header-->

            <!--div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="py-sm bg-grey-lighter-h point"-->
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                <div nz-col class="ant-col-4 text-center">
                    <fz-avatar [src]="'./assets/img/covers/1.jpg'" [size]="'large'"></fz-avatar>
                </div>
                <div nz-col class="ant-col-20">
                    <strong>cipchk</strong>
                    <p>Please tell me what happened in a few words, don't go into details.</p>
                </div>
            </div>
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                <div nz-col class="ant-col-4 text-center">
                    <fz-avatar [src]="'./assets/img/covers/2.jpg'" [size]="'large'"></fz-avatar>
                </div>
                <div nz-col class="ant-col-20">
                    <strong>はなさき</strong>
                    <p>ハルカソラトキヘダツヒカリ </p>
                </div>
            </div>
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                <div nz-col class="ant-col-4 text-center">
                    <fz-avatar [src]="'./assets/img/covers/3.jpg'" [size]="'large'"></fz-avatar>
                </div>
                <div nz-col class="ant-col-20">
                    <strong>苏先生</strong>
                    <p>请告诉我，我应该说点什么好？</p>
                </div>
            </div>
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                <div nz-col class="ant-col-4 text-center">
                    <fz-avatar [src]="'./assets/img/covers/4.jpg'" [size]="'large'"></fz-avatar>
                </div>
                <div nz-col class="ant-col-20">
                    <strong>Kent</strong>
                    <p>Please tell me what happened in a few words, don't go into details.</p>
                </div>
            </div>
            <div nz-row class="ant-row-flex ant-row-flex-center ant-row-flex-middle py-sm bg-grey-lighter-h point">
                <div nz-col class="ant-col-4 text-center">
                    <fz-avatar [src]="'./assets/img/covers/5.jpg'" [size]="'large'"></fz-avatar>
                </div>
                <div nz-col class="ant-col-20">
                    <strong>Jefferson</strong>
                    <p>Please tell me what happened in a few words, don't go into details.</p>
                </div>
            </div>
            <div nz-row class="ant-row pt-lg pb-lg">
                <div nz-col class="text-center text-grey point">
                    See All
                </div>
            </div>
        </mat-card>
    </div>
</fz-dropdown>
