/**nz-row*/
.ant-row-flex-middle {
    align-items: center;
}

.ant-row-flex-center {
    justify-content: center;
}

.ant-row-flex {
    display: flex;
    flex-flow: row wrap;
}

.point {
    cursor: pointer;
}

.ant-col-4 {
    display: block;
    width: 16.66666667%;

    float: left;
    flex: 0 0 auto;
}

.text-center {
    text-align: center!important;
}

.ant-col-20 {
    display: block;
    width: 83.33333333%;

    float: left;
    flex: 0 0 auto;
}

.py-sm {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}

.pb-lg {
    padding-bottom: 24px!important;
}
.pt-lg {
    padding-top: 24px!important;
}

.ant-col-24 {
    display: block;
    width: 100%;
}

.ant-col-24 {
    float: left;
    flex: 0 0 auto;
}

.ant-col-24, .ant-col-xs-24, .ant-col-sm-24, .ant-col-md-24, .ant-col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}

.text-center {
    text-align: center!important;
}
.text-grey {
    color: #bfbfbf!important;
}

.ant-card-head {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
}

.ant-card-head-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ant-card-head-title {
    font-size: 16px;
    padding: 16px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.ant-card-extra {
    float: right;
    padding: 17.5px 0;
    text-align: right;
    margin-left: auto;
}
