<div>
    <p>
        home works!
    </p>
</div>
<div>
    <fz-highlight [fzCode]="_code" [fzLanguage]="'javascript'"></fz-highlight>
    <fz-highlight [fzCode]="_code" [fzLanguage]="'typescript'"></fz-highlight>

    <fz-anchor>
        <fz-link nzHref="#何时使用" nzTitle="何时使用"></fz-link>
        <fz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo"></fz-link>
        <fz-link nzHref="#API" nzTitle="API">
            <fz-link nzHref="#API-Anchor" nzTitle="nz-anchor"></fz-link>
            <fz-link nzHref="#API-AnchorLink" nzTitle="nz-link"></fz-link>
        </fz-link>
    </fz-anchor>

    <pre>
        <code class="language-typescript" fzHighlight>
            {{_code1}}
        </code>
    </pre>

    <fz-affix>
        <button>
            <span>Affix Button</span>
        </button>
    </fz-affix>

    <pre>
        <code class="language-typescript" fzHighlight>
            import &#123;AccordionModule&#125; from 'primeng/accordion';
        </code>
    </pre>


    <pre>
        <code class="language-markup" fzHighlight>
            &lt;p-accordion&gt;
            &lt;p-accordionTab header="Header 1" [selected]="true"&gt;
            Content 1
            &lt;/p-accordionTab&gt;
            &lt;p-accordionTab header="Header 2"&gt;
            Content 2
            &lt;/p-accordionTab&gt;
            &lt;p-accordionTab header="Header 3"&gt;
            Content 3
            &lt;/p-accordionTab&gt;
            &lt;/p-accordion&gt;
        </code>
    </pre>
    <fz-markdown [nzContent]="_markdownCode"></fz-markdown>

    <button (click)="createBasicMessage()">显示普通提醒</button>

    <button (click)="createBasicNotification()">打开通知提示框</button>

    <fz-timeline>
        <fz-timeline-item>Create a services site 2015-09-01</fz-timeline-item>
        <fz-timeline-item>Solve initial network problems 2015-09-01</fz-timeline-item>
        <fz-timeline-item>Technical testing 2015-09-01</fz-timeline-item>
        <fz-timeline-item>Network problems being solved 2015-09-01</fz-timeline-item>
    </fz-timeline>

    <fz-back-top></fz-back-top>

    <div>
        <p>rate</p>
        <fz-rate [ngModel]="5"></fz-rate>
    </div>

    <fz-code-box [fzTitle]="'基本用法'" id="components-cascader-demo-basic" [fzCode]="_code">
        <div demo>展示demo</div>
        <div intro>
            <p>省市区级联。</p>
        </div>
    </fz-code-box>

    <fz-alert [nzType]="'success'" [nzMessage]="'Success Text'"
              [nzDescription]="'Success Description Success Description Success Description'">
    </fz-alert>

    <fz-alert [nzType]="'info'" [nzMessage]="'Info Text'"
              [nzDescription]="'Info Description Info Description Info Description Info Description'">
    </fz-alert>

    <fz-alert [nzType]="'warning'" [nzMessage]="'Warning Text'"
              [nzDescription]="'Warning Description Warning Description Warning Description Warning Description'">
    </fz-alert>

    <fz-alert [nzType]="'error'" [nzMessage]="'Error Text'"
              [nzDescription]="'Error Description Error Description Error Description Error Description'">
    </fz-alert>

    <fz-transfer
        [nzDataSource]="list"
        [nzTitles]="['Source', 'Target']"
        (nzSelectChange)="select($event)"
        (nzChange)="change($event)">
    </fz-transfer>


    <div>
        <fz-avatar nzSize="large" nzIcon="user"></fz-avatar>
        <fz-avatar nzIcon="user"></fz-avatar>
        <fz-avatar nzSize="small" nzIcon="user"></fz-avatar>
    </div>
    <div>
        <fz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'"></fz-avatar>
        <fz-avatar [nzShape]="'square'" [nzIcon]="'user'"></fz-avatar>
        <fz-avatar [nzShape]="'square'" [nzSize]="'small'" [nzIcon]="'user'"></fz-avatar>
    </div>
    <div>
        <fz-avatar [nzText]="'U'" nzSize="large" [ngStyle]="{'background-color':'#f56a00'}"></fz-avatar>
        <fz-avatar [nzText]="'Lucy'" nzSize="large" [ngStyle]="{'background-color':'#7265e6'}"></fz-avatar>
        <fz-avatar [nzText]="'Tom'" nzSize="large" [ngStyle]="{'background-color':'#ffbf00'}"></fz-avatar>
        <fz-avatar [nzText]="'Edward'" nzSize="large" [ngStyle]="{'background-color':'#00a2ae'}"></fz-avatar>
    </div>

    <div>
        <p>---------------</p>
        <span>sssssssssssssss</span>
        <fz-badge [nzCount]="5" style="margin-right: 16px;">
            <ng-template #content>
                <a style="width: 42px;
      height: 42px;
      border-radius: 6px;
      background: #eee;
      display: inline-block;"></a>
            </ng-template>
        </fz-badge>
    </div>

    <div style="width: 247.63px">
        <fz-carousel>
            <div fzCarouselContent><h3>1</h3></div>
            <div fzCarouselContent><h3>2</h3></div>
            <div fzCarouselContent><h3>3</h3></div>
        </fz-carousel>
    </div>

    <div>
        <fz-cascader
            [class.class123]="true"
            [nzOptions]="_options"
            [(ngModel)]="_value"
            (ngModelChange)="_console($event)"
            (nzChange)="_console($event)">
        </fz-cascader>
        <a href="javascript:;" (click)="_changeNzOptions()" class="change-options">
            Change Options
        </a>
    </div>


    <article>
        <section class="markdown"><h1>Anchor 锚点</h1>
            <section class="markdown"><p>用于跳转到页面指定位置。</p>
                <h2 id="何时使用"><span>何时使用</span>
                    <a class="anchor">#</a>
                </h2>
                <p>需要展现当前页面上可供跳转的锚点链接，以及快速在锚点之间跳转。</p>
            </section>
            <h2 id="代码演示">代码演示<i class="code-box-expand-trigger anticon anticon-appstore" title="展开全部代码"></i></h2>
        </section>
        <div>
            <div id="components-anchor-demo-fixed">
                固定
            </div>
            <div id="components-anchor-demo-basic">
                基本
            </div>
        </div>
        <section class="markdown api-container">
            <h2 id="API"><span>API</span>
                <a class="anchor">#</a>
            </h2>
            <h3 id="API-Anchor"><span>nz-anchor</span>
                <a class="anchor">#</a>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>参数</th>
                    <th>说明</th>
                    <th>类型</th>
                    <th>默认值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>nzOffsetTop</td>
                    <td>距离窗口顶部达到指定偏移量后触发</td>
                    <td>number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>nzBounds</td>
                    <td>锚点区域边界</td>
                    <td>number</td>
                    <td>5(px)</td>
                </tr>
                <tr>
                    <td>nzScroll</td>
                    <td>滚动至某锚点时触发</td>
                    <td>function</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h3 id="API-AnchorLink"><span>nz-link</span>
                <a class="anchor-link">#</a>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>参数</th>
                    <th>说明</th>
                    <th>类型</th>
                    <th>默认值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>nzHref</td>
                    <td>锚点链接</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>nzTitle</td>
                    <td>文字内容</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>nzTemplate</td>
                    <td>文字内容，会覆盖掉 <code>nzTitle</code> 的内容</td>
                    <td>ng-template</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>

    <div>
        <fz-popover [nzTitle]="'标题'">
            <button fzPopover>弹出卡片</button>
            <ng-template #nzTemplate>
                <div><p>内容</p>
                    <p>内容</p></div>
            </ng-template>
        </fz-popover>
    </div>


</div>

